*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}
.container nav{
    display: flex;

}
.container nav ul{

}
.container nav ul li {
    /* display: inline; */

}